
<div class ="container jumbotron">

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>
<p>
  
</p>
</br>
<p>
  <strong>Price/Lt/Kg</strong>
  <%= @product.price %>
</p>


<% @product.assignments.each do |assignment| %>

  <%= assignment.color.color %>
  <%= assignment.quantity %>

<% end %>

<%= link_to 'Back', root_path %>
</div>