<% content_for(:page_header) {"Participate in our polls right now!"} %>
<p id="notice"><%= notice %></p>


<h1>Polls</h1>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @polls.each do |poll| %>
    <div class="well">
      <h2><%=poll.topic%></h2>
      <p>
      <% if current_user %>
        <%= link_to 'Participate!', poll_path(poll), class: 'btn btn-primary btn-lg block' %>
      <% else %>
        Please sign in via  to participate in this poll.
      <% end %>
    </p>
     
      <tr>
        <div class="btn-group">
        <td><%= link_to 'Show', poll, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_poll_path(poll) , class: 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        
        </div>
      </tr>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll', new_poll_path %>
